.welcomeBox {
  display: flex;
  flex-direction: column;
  flex: 75%;
  background-color: rgb(244, 241, 249);
}

.welcome-msg {
  display: flex;
  color: rgb(75, 54, 96);
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.welcome-msg h1 {
  font-size: 3rem;
}
