.navbar {
  height: 5vh;
  /* background-color: whitesmoke; */
  background-color: #14009975;

  flex: 1;
  display: flex;
  padding-left: 100px;
}

.left {
  margin-right: 10px;
  color: rgb(52, 24, 78);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right {
  flex-grow: 1;
  text-align: right;
  margin-top: 0.5px;
}
