.chatbox {
  display: flex;
  flex-direction: column;
  flex: 75%;
  background-color: whitesmoke;

  /* height: 80vh;
  width: 100%; */
  /* 
  overflow-y: scroll;
  background-color: lavender; */
}

/* .bar {
  background-color: mediumpurple;
  height: 50px;
  border: 1px solid lightblue;
} */
.chatHeader {
  display: flex;
  justify-content: space-between;
}

.username {
  background-color: whitesmoke;
  width: 100%;
  padding-left: 20px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  font-size: larger;
  color: purple;
}

.messageBox {
  flex: 1;
  background-position: center;
  background-repeat: repeat;
  overflow: scroll;
<<<<<<< HEAD:Client/src/component/ChatBox/chatBox.css
  overflow-x: auto;
  overflow-y: auto;
=======
  overflow-x: hidden;
>>>>>>> dfe384377f91554e705a0af4fdedf37c219628e4:Client/src/component/chatBox.css
  padding: 20px;
}

.chatMessage {
  position: relative;
  font-size: 17px;
  padding: 10px;
  width: fit-content;
<<<<<<< HEAD:Client/src/component/ChatBox/chatBox.css
  background-color: gainsboro;
  border-radius: 20px;
=======
  background-color: aliceblue;
  border-radius: 10px;
>>>>>>> dfe384377f91554e705a0af4fdedf37c219628e4:Client/src/component/chatBox.css
}

.messageName {
  position: absolute;
  top: -20px;
  font-size: small;
  font-weight: 500;
}

.receive {
  margin-left: auto;
<<<<<<< HEAD:Client/src/component/ChatBox/chatBox.css
  color: white;
  background-color: rgb(91, 91, 236);
=======
  background-color: burlywood;
>>>>>>> dfe384377f91554e705a0af4fdedf37c219628e4:Client/src/component/chatBox.css
}
.messageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.messageInput > form {
  flex: 1;
  display: flex;
}

.messageInput > form > input {
  flex: 1;
  height: 20px;
  width: 100px;
  border-radius: 30px;
  border: none;
  padding: 7px;
  color: black;
<<<<<<< HEAD:Client/src/component/ChatBox/chatBox.css
  background-color: rgb(238, 238, 249);
=======
  background-color: whitesmoke;
>>>>>>> dfe384377f91554e705a0af4fdedf37c219628e4:Client/src/component/chatBox.css
  margin-left: 10px;
  margin-top: auto;
}

.messageInput > form > button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 25px;
  border: none;
<<<<<<< HEAD:Client/src/component/ChatBox/chatBox.css
  width: 10px;
  height: 30px;
=======
  width: 80px;
  height: 35px;
>>>>>>> dfe384377f91554e705a0af4fdedf37c219628e4:Client/src/component/chatBox.css
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
