.sidebar {
  display: flex;
  flex-direction: column;
  flex: 25%;
  background-color: lavender;
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* border-right: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */
  text-transform: uppercase;
  color: purple;
}
.search {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  background-color: rgba(233, 233, 246, 0.816);
}
.searchBox {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  background-color: rgba(233, 233, 246, 0.816);
}

.searchBox > input {
  border: none;
  outline-width: 0;
  height: 20px;
  padding: 5px;
  background-color: rgba(233, 233, 246, 0.816);
}

.users {
  flex: 1;
  background-color: rgba(233, 233, 246, 0.816);
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  color: black;
}

.list {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  margin: auto;
  text-transform: uppercase;
}
.list:hover {
  background-color: rgb(202, 199, 237);
}
.selected {
  background-color: rgb(202, 199, 237);
}

.avatar {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}
