.chatbox {
  display: flex;
  flex-direction: column;
  flex: 75%;
  /* height: 80vh;
  width: 100%; */
  /* border: 1px solid lightblue;
  overflow-y: scroll;
  background-color: lavender; */
}

/* .bar {
  background-color: mediumpurple;
  height: 50px;
  border: 1px solid lightblue;
} */
.chatHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.username {
  background-color: white;
  width: 100%;
  padding-left: 20px;
}

.messageBox {
  flex: 1;
  background-position: center;
  background-repeat: repeat;
  overflow: scroll;
  padding: 20px;
}

.chatMessage {
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  background-color: aliceblue;
  border-radius: 10px;
}

.messageName {
  position: absolute;
  top: -20px;
  font-size: small;
  font-weight: 500;
}
.receive {
  margin-left: auto;
  background-color: khaki;
}
.messageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.messageInput > form {
  flex: 1;
  display: flex;
}

.messageInput > form > input {
  flex: 1;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 5px;
}

.messageInput > form > button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  border: none;
  width: 60px;
}
