.sidebar {
  display: flex;
  flex-direction: column;
  flex: 25%;
  background-color: whitesmoke;
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid lightgray;
  /* border-bottom: 1px solid lightgray; */
  text-transform: uppercase;
  color: purple;
}
.search {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  background-color: whitesmoke;
}
.searchBox {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  background-color: whitesmoke;
}

.searchBox > input {
  border: none;
  outline-width: 0;
  height: 20px;
  padding: 5px;
  background-color: whitesmoke;
}

.users {
  flex: 1;
  background-color: whitesmoke;
  overflow: scroll;
  color: black;
}

.list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  margin: auto;
  text-transform: uppercase;
}
.list:hover {
  background-color: aliceblue;
}
