.chat {
  /* display: grid;
  place-items: center; */
  /* height: 100vh;
  background-color: rgba(242, 240, 245, 0.5); */
}
.navbar {
  height: 5vh;
  background-color: whitesmoke;
  text-align: right;
  /* border-bottom: 2px solid rgb(65, 22, 65); */
}

.chat-body {
  display: flex;
  height: 95vh;
  width: 100vw;
  margin-bottom: 0;
  /* border: 10px solid lavender; */
  /* border-radius: 25px; */
  /* box-shadow: 1px 2px 20px -5px black; */
}

.side {
  display: flex;
  width: 25%;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
